<strong>Olá, {{ deliveryman }}</strong>
<p>Voçe tem uma nova encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <strong>Cidade: </strong> {{ city }} - {{ state }} <br />
  <strong>Rua: </strong> {{ street }} - Nº {{ number }} <br />
  <strong>CEP: </strong> {{ zip_code }} <br />
</p>
<p>
   <small>
    O produto já está disponível para retirada!
  </small>
</p>
